body {
    background-image: url(../img/roloDeFilme.jpg);
}

.logo {
    font-family: var(--fonte_logo);
    text-align: center;
    padding-top: 3rem;
}

.container {
    text-align: center;
    margin-top: 4rem;
}

h2 {
    padding-bottom: 2rem;
}

form {
    margin: auto;
    width: 90%;
    max-width: 600px;
    text-align: justify;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    background-color: var(--cinza_claro);
    border-radius: 8px;
    display: block;
    margin: 0 0 20px;
    padding-left: 1em;
    height: 30px;
    width: 300px;
}

input#cadastrar {
    background-color: var(--salmao);
    color: var(--branco);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin: auto;
    padding: 2px 0 0 1px;
    text-align: center;
    height: 30px;
    width: 100px;
}

.cadastrar {
    text-decoration: none;
}

.botao {
    margin: 2em 0 2rem 0;
}

.enviar {
    color: var(--branco);
    text-decoration: none;
}

footer {
    height: 350px;
    margin-top: 15rem;
}

.rodape {
    background: linear-gradient( to bottom, var(--salmao), var(--salmao_escuro) 50%);
    color: var(--branco);
    text-align: right;
}

.footer_texto {
    padding-top: 190px;
    margin-right: 3%;
}
