.carrossel {
    display: flex;
    margin: auto;
    overflow-x: scroll;
    height: auto;
    width: auto;
}

@media  screen and (min-width: 1000px ) {
    .carrossel {
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 1000px;
    }
}