.informacoes {
    margin-bottom: 40rem;
}

h1 {
    margin: 15rem 0 3rem 0;
}

.foto {
    text-align: center;
    padding-bottom: 2rem;
}

.caixa {
    width: 83,33%;
    max-width: 700px;
    margin: auto;
    padding-left: 2em;
}

.nome {
    padding-bottom: 1rem;
}

.email {
    padding-bottom: 1rem;
}

.senha {
    padding-bottom: 1rem;
}