.logo_corpo {
    color: var(--salmao);
    font-family: var(--fonte_logo);
    font-size: 36px;
    font-weight: bold;
    margin: 10rem 0 3rem 0;
    text-align: center;
}

h1 {
    margin: 4rem 0 3rem 0;
}

h2 {
    font-family: var(--fonte_logo);
    font-size: 24px;
    padding: 0 0 1.5rem 5%;
}

h3 {
    font-family: var(--fonte_logo);
    padding-bottom: 1rem;
}

.painel {
    margin: auto;
    padding: 0 0 3em 1em;
    height: auto;
    width: 300px;
}

.cartaz {
    text-align: center;
    padding-bottom: 1rem;
}

.imagem {
    width: 200px;
}

.descricao {
    align-items: center;
    padding-bottom: 1rem;
    height: 150px;
}

.desc{
    margin: auto;
    overflow-y: scroll;
    text-align: justify;
    height: 100px;
    width: 200px;
}

p {
    color: var(--preto);
}

.interacao {
    display: grid;
    grid-template-areas: "curtir favoritos";
}

.like {
    width: 30px;
}

.favorito {
    width: 30px;
}

@media screen and (min-width: 768px) {
    h2 {
        padding: 0 0 1.5rem 15%;
    }

    .painel {
        width: 400px;
    }

    .desc{
        margin: auto;
        overflow-y: scroll;
        text-align: justify;
        height: 100px;
        width: 400px;
    }
    
}
