:root {
    --branco: #ffffff;
    --cinza: #b9b9b9;
    --cinza_claro: #f5f5f5;
    --preto: #000000;
    --salmao: #ff0040;
    --salmao_escuro: #d10034;

    --fonte_logo: 'Fredoka One', cursive;
    --fonte_texto: 'Arvo', serif;
}

body {
    background-color: var(--branco);
    color: var(--salmao);
    font-family: var(--fonte_texto);
    font-size: 18px;
}

h1 {
    color: var(--salmao);
    font-family: var(--fonte_logo);
    font-size: 28px;
    text-align: center;
}

button {
    background-color: var(--salmao);
    color: var(--branco);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    padding: 2px 0 0 1px;
    text-align: center;
    height: 30px;
    width: 100px;
}

button:hover {
    background-color: var(--salmao_escuro);
}

